/*GENERAL CLASSES AND STYLES*/
.bold{
	font-weight: bold;
}
.white{
	color:white;
}
.black{
	color:black;
}
/*Clearfix*/
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
@media (max-width: 1000px) {
	.cover-photo{
	background: url(../img/cover.jpg);
	background-size: cover;
	}
}
body{
	background-color: #ffae00;
	font-family: 'Source Sans Pro', sans-serif;
	color:#333333;
}
/*Clearfix*/
/*END GENERAL CLASSES AND STYLES*/

/*HEADER*/

header{
	overflow: hidden;
	height: 233px;
}
.logo{
	display: block;
	margin:auto;
	margin-top: 36px;
}

/*COVER PART*/

.container{
	width: 960px;
	margin:auto;
}
.cover-content{
	margin-top: 120px;
}
.cover-photo{
	display: inline-block;
	width: 100%;
	height: 500px;
	background: url(../img/cover.png) no-repeat;
	background-size: cover;
}
#slide{
	height: 90px;
	font-size: 50px;
	line-height: 46px;
	margin-top: 0;
	margin-bottom: 76px;
}
.cover-content p{
	font-size: 18px;
}
.btn-icon{
		background: url(../img/sprite.png) no-repeat -337px 0;
		width: 35px;
		height: 31px;
		float:left;
		margin-left: 10px;
		margin-top: 14px;
}
.btn-icon2{
		background: url(../img/sprite.png) no-repeat -392px 0;
		width: 29px;
		height: 34px;
		margin-top: 10px;
		margin-left: 5px;
}
.button{
	background-color: #ffae00;
	width: 220px;
	height: 60px;
	border:none;
	border-radius: 10px;
	margin-right: 20px;
}
.button p{
	margin:0;
	font-size: 14px;
	line-height: 25.94px;
	text-indent: -20px;
}
.button p:last-child{
	font-size: 24px;
}
/*CONTENT */

.content{
	height: 400px;
}
.main-content{
	margin-top: 70px;
}
.icon1{
	background: url(../img/sprite.png) no-repeat 0 0;
	width: 78px;
	height: 118px;
	margin:auto;
}
.icon2{
	background: url(../img/sprite.png) no-repeat -211px 0;
	width: 106px;
	height: 113px;
	margin:auto;
}
.icon3{
	background: url(../img/sprite.png) no-repeat -98px 0;
	width: 93px;
	height: 118px;
	margin:auto;
}
.column{
	width: 278px;
	float:left;
	text-align: center;
}
.column3{
	margin: auto;
	float: none;
}
.column2{
	float:right;
}
.column h3{
	margin-top: 30px;
	margin-bottom: 35px;
	font-size: 32px;
	font-weight: bold;
}
.column p{
	margin: 0;
	font-size: 24px;
	font-weight: normal;
}

/*FOOTER*/

footer{
	height: 80px;
	background-color: #b87e00;
}
.footer-ul{
	list-style: none;
	margin: 0;
	float:left;
	padding-left: 0;
	padding-top: 30px;
}
.footer-ul li{
	display: inline;
}
.footer-ul li:after{
	content: " | ";
	color:white;
	margin:0 10px;
}
.footer-ul li:last-child:after{
	content: "";
}
.footer-ul a{
text-decoration: none;
color:white;
font-size: 14px;
}
.footer-logo{
	float:right;
	margin:0;
	margin-top: 22px;
}
.logo-p{
float:right;
margin-top: 44px;
margin-right: 2%;
font-style: italic;
font-size: 14px;
}

/*MEDIA QUERIES*/

@media (max-width: 1200px) {
	.cover-content{
		padding-left: 60px;
	}
	.container{
		width: 900px;
	}
}
@media (max-width: 1000px) {
	.cover-photo{
	background: url(../img/cover.jpg);
	background-size: cover;
	}
	#slide{
		font-size: 35px;
		text-align: center;
		margin:auto;
		width: inherit;
	}
	.cover-content p{
		text-align: center;
	}
	.cover-content{
		padding-left: 0px;
	}
	.button{
		margin:30px auto;
		display: block;
	}
	.content{
		height: auto;
	}
	.column{
		width: 100%;
	}
	.column2{
		margin:50px 0;
	}
	.column3{
		margin-bottom: 70px;
	}
	.column h3{
		margin-bottom: 5px;
	}
	footer{
		height: 120px;
	}
	.footer-ul li{
		display: block;
	}
	.footer-ul li:after{
		content: "";
		margin:0;
	}
	.logo-p{
		display: none;
	}
	.footer-logo{
		margin-top: 42px;
	}
	.container{
		width: 90%;
	}
}